<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEE-2026</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>

    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <h2>MENU</h2>
        <ul>
    <li><a href="{{ url_for('study_dashboard') }}" class="menu-link">HOME</a></li>
    <li><a href="{{ url_for('ai_assistant') }}" class="menu-link">AI DOUBT ASSISTANT</a></li>
    <li><a href="{{ url_for('rank_predictor') }}" class="menu-link">RANK PREDICTOR</a></li>
    <li><a href="{{ url_for('percentile_predictor') }}" class="menu-link">JEE MAINS PERCENTILE PREDICTOR</a></li>
    <li><a href="{{ url_for('college_predictor') }}" class="menu-link">COLLEGE PREDICTOR</a></li>
    <li><a href="{{ url_for('college_recommender') }}" class="menu-link">COLLEGE RECOMMENDER</a></li>
    <li><a href="{{ url_for('your_feedback') }}" class="menu-link">YOUR VALUABLE FEEDBACK</a></li>
        </ul>

    </div>

    <!-- MAIN CONTENT -->
    <div id="mainContent" class="main">

        <div class="header">
            <h1>JEE-2026</h1>
        </div>

        <div class="top-row">
            <button id="menuBtn" class="menu-btn">&#9776;</button>
            <h1 class="title">PHYSICS JEE PYQS </h1>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Mathematical Tools : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Motion in 1-D : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Motion in 2-D : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Newton Laws of Motion : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Work Energy and Power : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Center of Mass and Collisions : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Rotational Motion : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Oscillations : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Kinetic Theory of Gases : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Thermodynamics : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Thermal Properties of Matter : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>

        <div class="notes-card">
        <div class="notes-left">
            <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" class="note-icon">
            <div class="note-info">
                <p class="note-date">NOTES • 16 NOV</p>
                <h3 class="note-title">Mechanical Properties of Solids : Complete Notes || JEE 2026</h3>
                <div class="note-buttons">
                    <a href="" class="view-btn" target="_blank">👁️ View Note </a>
                    <a href="" class="download-btn" download>⬇️</a>
                </div>
            </div>
        </div>
        </div>




</div>

<script>
    const menuBtn = document.getElementById("menuBtn");
    const sidebar = document.getElementById("sidebar");
    const mainContent = document.getElementById("mainContent");
    const batchGrid = document.getElementById("batchGrid");

    let sidebarOpen = false;

    menuBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        sidebarOpen = !sidebarOpen;

        if (sidebarOpen) {
            mainContent.classList.add("push-right");
            batchGrid.classList.add("two-grid");
        } else {
            mainContent.classList.remove("push-right");
            batchGrid.classList.remove("two-grid");
        }
    });
</script>

</body>
</html>